
.placeH::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    black;
}
.placeH:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    black;
 opacity:  1;
}
.placeH::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    black;
 opacity:  1;
}
.placeH:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    black;
}
.placeH::-ms-input-placeholder { /* Microsoft Edge */
 color:    black;
}
.placeH::placeholder { /* Most modern browsers support this now. */
 color:    black;
}
.border-danger{
  border: 2px solid red
}

/* If i want to see this work: <input placeholder="Stack Snippets are awesome!" /> */
